.card {
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-radius: 6px;
    background-color: #ffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

// Head

.head {
    width: 100%;
    padding: 0px 12px;
    margin: 12px 0px;

    display: flex;
    align-items: center;

    .link-avatar > .avatar {
        width: 40px;
        height: 40px;
        display: block;
        object-fit: cover;
        border-radius: 50%;
        background-color: #ccc;
    }
}

.grid-info {
    margin-left: 10px;

    .link-name > .name {
        font-size: 17px;
        font-weight: 500;
        margin: 0px;
    }
    .time {
        margin-top: 5px;
        font-size: 12px;
        text-transform: uppercase;
    }
}

// Text

.content {
    width: 100%;
    position: relative;
}

.content > .grid-text {
    padding: 0px 12px;
    margin-bottom: 15px;
}

.content {
    .group-images > .image {
        padding-top: 100%;
        background-size: cover;
        background-color: #ccc;
    }
}

// Action

.grid-event {
    margin: 10px 0px;
    padding: 0px 12px;

    display: flex;
    align-items: center;

    // gap: 8px;

    .action-collection,
    .action-comment,
    .action-heart {
        padding: 8px;
        cursor: pointer;

        svg {
            width: 24px;
            height: 24px;
            // fill: #262626;
            display: block;

        }
    }
}

.action-heart.heart {
    svg {
        fill: rgb(237, 73, 86) !important;
        animation: 0.45s heart-animation ease-in-out forwards;
    }
    &:hover svg {
        fill: rgb(237, 73, 86) !important;
    }
}

.action-collection {
    margin-left: auto;
}

// .action-heart:hover,
// .action-comment:hover,
.action-collection:hover {
    // margin-left: 0px;

    svg {
        fill: red !important;
    }
}

// Keyframes

@keyframes heart-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
